<!DOCTYPE html>
<html lang="<%= config.language %>" dir="ltr">
  <head>
    <%- partial('_ksio/partials/head') %>
    <%- css('stylesheets/global') %>
    <% [].concat(page.ksio_asset_css || []).forEach(cssPath => { %><%- css(cssPath) %><% }) %>
    <%- partial('_ksio/partials/analytics') %>
    <%- js('javascripts/ksio/vendors/jquery-1.11.3.min') %>
    <%- js('javascripts/ksio/vendors/bootstrap.min') %>
  </head>
  <% const bodyClass = ['Page'] %>
  <% if (page.ksio_slot_banner || page.banner) { %>
    <% bodyClass.push('has-headerImage') %>
  <% } %>
  <body class="<%= bodyClass.join(' ') %>" itemscope itemtype="http://schema.org/WebPage">
    <%- body %>
    <script>$('.Article-content > table').addClass('table table-bordered')</script>
    <% [].concat(page.ksio_asset_js || []).forEach(jsPath => { %><%- js(jsPath) %><% }) %>
  </body>
</html>
