<!DOCTYPE html>
<html lang="<%= config.language %>" dir="ltr">
  <head>
    <%- partial('_ksio/partials/head') %>
    <%- css('stylesheets/global') %>
    <% [].concat(page.ksio_asset_css || []).forEach(cssPath => { %><%- css(cssPath) %><% }) %>
    <%- js('javascripts/ksio/vendors/jquery-1.11.3.min') %>
    <%- js('javascripts/ksio/vendors/bootstrap.min') %>
  </head>
  <body class="Page" itemscope itemtype="http://schema.org/WebPage">
    <%- body %>
    <% [].concat(page.ksio_asset_js || []).forEach(jsPath => { %><%- js(jsPath) %><% }) %>
  </body>
</html>
