<%- partial(theme.header && theme.header.partial || '_ksio/partials/header') %>
<div class="Page-content">
  <% const repo = site.data['local/repos'][page.repo] %>
  <% if (repo && repo.toc) { %>
    <aside class="Page-aside">
      <div class="AsideBrand"><%- partial('_ksio/components/brand-link', { className: '' }) %></div>
      <nav class="AsideNav"><%- partial('_ksio/components/doc-toc', { repo: page.repo, items: repo.toc, collection: repo.collection }) %></nav>
    </aside>
  <% } %>
  <main class="Page-main">
    <article class="Article container-fluid">
      <header class="Article-header">
        <%- partial('_ksio/slots/header') %>
      </header>
      <div class="Article-content col-md-9"><%- page.content %></div>
      <footer class="Article-footer col-md-3"><%- partial('_ksio/slots/footer') %></footer>
    </article>
    <%- partial(theme.footer && theme.footer.partial || '_ksio/partials/footer') %>
  </main>
</div>
<script>$('table').addClass('table table-bordered')</script>
