<% navs.forEach(_inc_nav => { %>
  <% let _inc_depth = 1 %>
  <% try { _inc_depth = depth } catch (e) {} %>
  <% if (_inc_nav.children && _inc_depth < 2) { %>
    <li class="dropdown">
      <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown"><%= _inc_nav.text %> <span class="caret"></span></a>
      <ul class="dropdown-menu"><%- partial('_ksio/components/nav-list', { navs: _inc_nav.children, depth: _inc_depth + 1 }) %></ul>
    </li>
  <% } else { %>
    <% _inc_param = { utm: `utm_source=${theme.meta.url}&utm_medium=common-header`, wrap: false } %>
    <% if (_inc_nav.children) { %>
      <li class="dropdown-header"><%= _inc_nav.text %></li>
      <% _inc_nav.children.forEach(_inc_child => { %>
        <li><%- partial('_ksio/components/link', { link: _inc_child, ..._inc_param }) %></li>
      <% }) %>
    <% } else { %>
      <li><%- partial('_ksio/components/link', { link: _inc_nav, ..._inc_param }) %></li>
    <% } %>
  <% } %>
<% }) %>
