<footer class="Page-footer Footer">
  <div class="<% if (site.data.local && site.data.local.repos && site.data.local.repos[page.repo]) { %>container-fluid<% } else { %>container<% } %>">
    <% let utm_params = `utm_source=${theme.meta.url}&utm_medium=common-footer` %>
    <div class="Footer-description">
      <% if (theme.footer && (theme.footer.links || []).length > 0) { %>
        <!-- Important links -->
        <nav class="Footer-navs">
          <ul><% theme.footer.links.forEach(link => { %><li><%- partial('_ksio/components/link', { link, utm: utm_params, wrap: true }) %></li><% }) %></ul>
        </nav>
      <% } %>
      <% if (theme.copyright) { %>
        <!-- Copyright -->
        <div class="Footer-copyright">
          <p><%- partial('_ksio/components/copyright', { utm: utm_params }) %></p>
          <% if (theme.copyright.provider !== false) { %><p>本站主题 <a href="https://ourai.github.io/lime/?<%= utm_params %>" target="_blank" rel="external nofollow">Lime</a> 由 <a href="https://linxoid.com/ourai/?<%= utm_params %>" target="_blank" rel="external nofollow">欧雷</a> 提供</p><% } %>
          <% if (theme.copyright.fragments) { %><%- theme.copyright.fragments %><% } %>
        </div>
      <% } %>
    </div>
  </div>
</footer>
